/* Convencion de orden de trabajo
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    --kinda-black: #5D6D7E;
    --warm-black: #201e1c;
    --bordes: #FFEB3B;
    --my-white: #ECEFF1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /*font-family: 'DM Sans', sans-serif;*/
}

body {
    /*display: flex;
    justify-content: center;*/
    background-color: var(--black);
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    min-width: 320px;
    max-width: 1024px;
    width: 90%;
    background-color: var(--kinda-black);
    /*border: 1px dashed var(--bordes);*/
}

header .header-logo {
    order: 1;
    height: 120px;
    width: 200px;
    margin-bottom: 5px;
    background-image: url('../assets/logos/logo-arg-prog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px 116px;
    /*border: 1px dashed var(--bordes);*/
}

header h1 {
    order: 2;
    margin-bottom: 5px;
    color: var(--my-white);
}
header nav {
    width: 90%;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    order: 3;
    /*border: 1px dashed var(--bordes);*/
}

header nav .header-nav--ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    font-size: 24px;
    list-style: none;
    /*border: 1px dashed var(--bordes);*/
}

header nav .header-nav--ul li {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: var(--my-white);
    /*color: transparent;
    border: 1px dashed var(--bordes);*/
}

.header-nav--ul li img {
    width: 32px;
    height: 32px;
}

.about {
    height: 300px;
    min-width: 320px;
    max-width: 1024px;
    width: 90%;
    background-color: var(--warm-black);
    color: var(--my-white);
    border: 1px solid black;
}

.foto {
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 20px;
    margin-top: -40px;
    border-radius: 50%;
    border: 1px dashed red;
}

.about p {
    margin-left: 10px;
    font-size: 1.4rem;
}

.banner {
    height: 150px;
    min-width: 320px;
    max-width: 1024px;
    width: 90%;
    background-image: linear-gradient(45deg, #5B2C6F, #3498DB, #ABEBC6, #F2F3F4);
    border: 1px solid black;
}



@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
        align-items: flex-start;
    }

    header .header-logo {
        height: 150px;
        width: 450px;
        margin: 0;
        background-size: 290px 175px;
    }

    header h1 {
        align-self: center;
        margin-bottom: 45px;
    }

    header nav {
        justify-content: flex-end;
        margin-top: 0%;
    }

    header nav .header-nav--ul {
        justify-content: flex-end;
    }

    header nav .header-nav--ul li {
        margin-right: 25px;
    }

    .header-nav--ul li img {
        width: 48px;
        height: 48px;
    }
}

